
 /* Html {borde y cursor} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('./img/cursor.png'),
  auto;
}
/* Cuerpo */
body{
   margin: 0;
   padding: 0;
   align-items: center;  
}

.dark{
  filter: grayscale(100%);
}

/* temas */

.options{
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  background-color: rgb(8, 8, 8);
}

.temas{
  border-radius: 10px;
  
}

select{
  background-color: black;
  color: white;
  border-radius: 10px;
 
}



/* temas */
header {
  width: 100%;
  height: 80px;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
/* Logo del encabezado navbar */
.logo{
  display: flex;
  font-family: 'Play', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  
}
@keyframes pulse {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

.logo-label{
  text-align: center;
  width:35px;
  height: 30px;
  transform: rotate(360deg) 5s infinite;
  animation: pulse 2s ease 0s infinite normal forwards;
  margin-top: 7px;
  left: 0;
}
/* fin LOGO label con animacion */

/* iconos nav-bar */
.icon-nav{
  
  font-size: 30px;
  text-align: center;
} 


/* pelota menu  */
.pelota-menu{
    width: 30px;
    margin: 6px 0;
    cursor: pointer;
  }


/* el boton de menu hamburguesa */
/* contenedor de los div line */
.hamburger{
  display: none;
}
/* barra de navegacion con etiqueta de lista UL */
.nav-bar {
  font-family: 'Play', sans-serif;
  background: black;
}
.nav-bar ul{
  display: flex ;
  background-color: black;
}
.nav-bar li{
  display: flex ;
  flex-direction: column;
  text-decoration-style: none;
  text-align: center;
  background-color: black;
  color: black;
}

.nav-bar li:hover{
  text-align: center;
  transition: 0.5s;
  color: white;
  cursor: pointer;
}

/* barra de navegacion con euqtiqueta ul , elementos de lista y etiquetra a */
.nav-bar ul li a {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 5px 25px;
  transition: 0.5s;
  text-decoration: none;
  text-align: center;
}

.nav-bar ul li a:hover {
  
 transition: 0.5s;

}
/* nav-bar ul li a con etiqueta activa que sera el desplegable*/



/* medidas resonsive con mediaquery */

/*  Cuando la patalla tenga un max de ancho quiero que pase tal cosa... */
@media only screen and (max-width: 1320px) {
  header{
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header{
    padding: 0 30px;
  }
  
}
/* menu responsive hamburger  */
@media only screen and (max-width: 900px) {
  .hamburger{
    display: block;
    cursor: pointer;
  }

  .pelota-menu{
    width: 30px;
    margin: 6px 0;
    cursor: pointer;
  }

  .nav-bar {
    
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    transition: 0.5s;
    z-index: 999;
    overflow: hidden;
   
  }
/* accion de de la barra desplegable */
.nav-bar.active{
  background-color: rgb(0, 0, 0);
  height: 450px;
}

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin:  80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul{
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
    color: rgb(255, 255, 255);
  }
 
}













/* temas-header */
/* .temas{
  
  background: rgb(126, 6, 6);
  color: white;
  font-family: 'Saira Semi Condensed', sans-serif;
}
/* temas */

/* .light{
  text-align: center;
}

.dark{
  margin: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  text-align: center;
  width: 100%;
} */ 