@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Orbitron&family=Play:wght@400;700&family=Saira+Semi+Condensed:wght@300;400&family=Turret+Road&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.main{
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: black;
 /* background-image: url('./cancha-portada-horizontal.jpg');
 background-size: cover; */
}



.cancha-fondo{
  width: 100%;
  height: 100%;
  position: relative;
}

/* #DE0953 */
/* contentenedor logo */
.contenedor-principal{
  width: 100%;
  margin-top: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.contenedor-secundario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor{
  align-items: center;
  width: 100%;
  display: flex;
  justify-items: center;
  
}

/* logo */
.title{
  font-family: 'Play', sans-serif;
  /* font-family: 'Righteous', cursive; */
  width: 100%;
  animation: move-logo 4s linear infinite; 
  font-size: 80px;
  color:rgb(255, 255, 255);
  transition: background-color  1s ease 0s;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.93); 
}



@keyframes move-logo {
  0% {
    transform: translateY(20px)
  }
  50% {
    transform: translateY(0px)
}
  100%{
    transform: translateY(20px)
  }
}

.span-dev{
  margin-left: 15px;
  margin-top: 30px;
  font-family: 'DotGothic16', sans-serif;
  font-size: xx-large;
  color: #FFF6BD;
  border-right: .15em solid #288e35;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.93);
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: blink 1s steps(1) infinite;
  animation: typing 4s steps(12) 3s  normal both, blink 1s steps(1) infinite;
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


/* Pelota */
.div-pelota{
  display: flex;
  padding: 1rem;
  text-align: center;
  width: 100%;
  animation: traslado 2s linear 0s infinite alternate forwards;
}

@keyframes traslado {
	0% {
		transform: translateX(-20px);
	}

	100% {
		transform: translateX(200px);
	}
}

.pelota{
  padding: 15px;
  width: 90px;
  height: 90px;
  animation: giro 2s linear 2s infinite alternate-reverse forwards;
}

@keyframes giro {
	0% {
		transform: rotate(0);
	}

	

  100% {
		transform: rotate(720deg);
	}
}


/* responsive */


@media screen and (max-width:400px){
   .options{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
  background-color: rgb(0, 0, 0);
}
  
  .cancha-fondo{
    background-image: url('./img/cancha-black-copia.png');
    
  }

  .title{
    font-size: 80%;
  }

  .span-dev{
    font-size: x-small;
    width: 40%;
    
  }

 /* pelota */

.div-pelota{
  display: flex;
  padding: 1rem;
  text-align: center;
  width: 50%;
  animation: traslado 2s linear 0s infinite alternate forwards;
}

@keyframes traslado {
	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(50px);
	}
}

.pelota{
  padding: 15px;
  width: 50px;
  height: 50px;
  animation: giro 2s linear 2s infinite alternate-reverse forwards;
}

@keyframes giro {
	0% {
		transform: rotate(0);
	}

	

  100% {
		transform: rotate(720deg);
	}
}



  /* footer */
.pie-pagina{
  width: 720px;
  text-align: center;
}

.pie-pagina .grupo1{
  
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap:30px;
  
}

  .caja{
    text-align: center;
    margin-top: 5%;
  }

 
  .grupo2{
  font-family: 'Play', sans-serif;
  font-size: 10PX;
  background-color: black;
  color: white;
  margin-bottom: 1px;
  text-align: center;
  width: 50%;
  text-align: center;
}

.redes {
text-align: center;
 display: flex;
 justify-content: space-around;
}

} 


@media screen and (max-width:720px){
   .options{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
  background-color: rgb(0, 0, 0);
}
  
.contenedor-secundario{
  width: 80%;
}

  .cancha-fondo{
    background-image: url('./img/cancha-black-copia.png');
    
  }

  .title{
    font-size: 100%;
  }

  .span-dev{
    font-size: x-small;
    width: 100%;
    margin-left: 2px;
  }

 /* pelota */

.div-pelota{
  display: flex;
  padding: 1rem;
  text-align: center;
  width: 100%;
  animation: traslado 2s linear 0s infinite alternate forwards;
  margin-left: -15px;
}

@keyframes traslado {
	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(50px);
	}
}

.pelota{
  padding: 15px;
  width: 50px;
  height: 50px;
  animation: giro 2s linear 2s infinite alternate-reverse forwards;
}

@keyframes giro {
	0% {
		transform: rotate(0);
	}

	

  100% {
		transform: rotate(720deg);
	}
}



  /* footer */
.pie-pagina{
  width: 720px;
  text-align: center;
}

.pie-pagina .grupo1{
  
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap:30px;
  
}

  .caja{
    text-align: center;
    margin-top: 5%;
  }

 
  .grupo2{
  font-family: 'Play', sans-serif;
  font-size: 10PX;
  background-color: black;
  color: white;
  margin-bottom: 1px;
  text-align: center;
  width: 50%;
  text-align: center;
}

.redes {
text-align: center;
 display: flex;
 justify-content: space-around;
}

} 
