.pie-pagina{
  width: 100%;
  background-color:white;
}

.pie-pagina .grupo1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}

.caja{
  font-family: 'Play', sans-serif;
}

.pie-pagina .grupo1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kick{
  padding: 2%;
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
}

.info-redes{
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 1rem;
}
.parrafo-footer{
  margin-top: 2rem;
  text-align: center;
}
.home-home{
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canchita{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
}

.redes {
 display: flex;
 justify-content: space-evenly;
 align-items:  center;
 margin-top: 30%;
}

/* facebook */
.redes-socialesf{
  text-decoration: none;
  color: black;
  font-size: 30px;
  background-color: white;
  text-align: center;
  transition: all 1s ease;
}


.redes-socialesf:hover{
  color: rgb(42, 42, 126);
  
}

/* insta */
.redes-socialesi{
  text-decoration: none;
  color: black;
  font-size: 30px;
  background-color: white;
  text-align: center;
  transition: all 1s ease;
}
.redes-socialesi:hover{
  color: rgb(115, 0, 65);
   
}
/* linkdin */
.redes-socialesl{
  text-decoration: none;
  color: black;
  font-size: 30px;
  background-color: white;
  text-align: center;
  transition: all 1s ease;
}
.redes-socialesl:hover{
  color: rgb(42, 42, 126);
   
}

.redes-socialesg{
  text-decoration: none;
  color: black;
  font-size: 30px;
  background-color: white;
  text-align: center;
  transition: all 1s ease;
}
.redes-socialesg:hover{
  color: rgb(41, 41, 43);
  
}

/* grupo2 pie  */
.grupo2{
  font-family: 'Play', sans-serif;
  font-size: 10PX;
  background-color: black;
  color: white;
  margin-bottom: 1px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width:400px) {

  /* footer */
.pie-pagina{   
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  display: flex;
  
  
}

.pie-pagina.grupo1{
  
  width:100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap:30px;
  
}

.pie-pagina.caja{
    text-align: center;
    margin-top: -10%;
  }

 

.kick{
  
  width: 30%;
  color: black;
  text-decoration: none;
}
.redes {
text-align: center;
 display: flex;
 justify-content: space-around;
}

 .pie-pagina.grupo2{
  font-family: 'Play', sans-serif;
  font-size: 10PX;
  background-color: black;
  color: white;
  margin-bottom: 1px;
  text-align: center;
  color: black;
  display: flex;
  align-content: center;
  width: 100%;
}
}